body {
  background-color: #121212 !important;
  color: #ffffff;
}

h1 {
  color: rgb(128, 0, 128);
  font-family: "Bebas Neue", cursive;
}
.quote {
  color: rgb(127, 127, 127);
  font-family: "Montserrat", sans-serif;
}
.input {
  background-color: transparent;
  color: white;
  width: 80%;
  height: 102%;
  text-align: center;
  border-radius: 35vw;
  /* border-bottom: 3px solid rgb(128, 0, 128); */
  outline: 0;
  border: none;
  /* border: 1px solid black; */
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}
.input:focus {
  animation: borderColor 1s ease-in-out;
  animation-fill-mode: forwards;

  /* border-bottom: 3px solid rgb(128, 0, 128); */
}
@keyframes borderColor {
  from {
    border-bottom: #000000;
  }
  to {
    border-bottom: 3px solid rgb(128, 0, 128);
  }
}
#add,
#copy,
#deleteAll {
  border: 0.1em solid #ffffff;
  background-color: transparent;
  border-radius: 2rem;
  width: 5.5rem;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
}
#add:hover,
#copy:hover,
#deleteAll:hover {
  color: #000000;
  background-color: #ffffff;
}

/* .section {
  overflow: auto !important;
} */

.hidden {
  display: none;
}
.wrapper {
  align-items: center;
  justify-content: center;
}

.typing-demo {
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 3rem;
}
.list_item {
  color: #b9b083;
}
.list_item:hover {
  opacity: 0.5;
  text-decoration: line-through;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
